html, body { 
  background: url("img/20160827_183935(2).jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.centrerat	{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;	
}

.overskrift	{
	text-align: center;
	color: white;
	font-weight: ;
	text-shadow: 0px 0px 2px black;
	display: flex;
	justify-content: center;
	align-content: center;
	align-self: center;
}
/*
button	{
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	border: 2px solid white;
}

*/